---
layout: splash
permalink: /
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/mm-home-page-feature.jpg
  actions:
    - label: "<i class='fab fa-fw fa-github'></i> @diana12333"
      url: "https://github.com/diana12333"
    - label: "<i class='fab fa-fw fa-linkedin'></i> @Chang Shen"
      url: "https://www.linkedin.com/in/chang-shen-1ab140129/"   
excerpt: 
  <h2 class="pap">Second-year Master’s student in Biostatistics@Yale.  <br /> Self-motivated Data Science Apprentice <br /> 40% Frequentist + 60% Bayesian; 100% love life and enjoy challenge</h2>
feature_row:
  - image_path: /assets/images/mm-customizable-feature.png
    alt: "customizable"
    title: "Super customizable"
    excerpt: "Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
    url: "/docs/configuration/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/mm-responsive-feature.png
    alt: "fully responsive"
    title: "Responsive layouts"
    excerpt: "Built with HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
    url: "/docs/layouts/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
  - image_path: /assets/images/mm-free-feature.png
    alt: "100% free"
    title: "100% free"
    excerpt: "Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
    url: "/docs/license/"
    btn_class: "btn--primary"
    btn_label: "Learn more"
gallery:
    - url: /assets/gif/demo3.gif
      image_path: assets/gif/demo3.gif
      alt: "placeholder image 1"
    - url: /assets/gif/bert-tweets.gif
      image_path: assets/gif/bert-tweets.gif
      alt: "placeholder image 2"
    - url: /assets/gif/demo-weather-forcasting.gif
      image_path: assets/gif/demo-weather-forcasting.gif
      alt: "placeholder image 2"
    - url: /assets/images/gallery/quadknn.png
      image_path: assets/images/gallery/quadknn.png
      alt: "placeholder image 1"
    - url: /assets/images/gallery/psudo.png
      image_path: assets/images/gallery/psudo.png
      alt: "placeholder image 2"
    - url: /assets/images/gallery/attention.jpg
      image_path: assets/images/gallery/attention.jpg
      alt: "placeholder image 2"
    - url: /assets/images/gallery/BIS537_loveplot.jpg
      image_path: assets/images/gallery/BIS537_loveplot.jpg
      alt: "placeholder image 1"
    - url: /assets/images/gallery/BIS537_hw3.jpg
      image_path: assets/images/gallery/BIS537_hw3.jpg
      alt: "placeholder image 2"
    - url: /assets/images/gallery/BIS567.jpg
      image_path: assets/images/gallery/BIS567.jpg
      alt: "placeholder image 2"
    - url: /assets/images/gallery/NN.jpg
      image_path: assets/images/gallery/NN.jpg
      alt: "placeholder image 2"
    - url: /assets/images/gallery/gmm.jpg
      image_path: assets/images/gallery/gmm.jpg
      alt: "placeholder image 3" 
    - url: /assets/images/gallery/calendar.jpg
      image_path: assets/images/gallery/calendar.jpg
      alt: "placeholder image 4" 
    - url: /assets/images/gallery/var_lstm.jpg
      image_path: assets/images/gallery/var_lstm.jpg
      alt: "placeholder image 7" 
    - url: /assets/images/gallery/EmpricalPower1.png
      image_path: assets/images/gallery/EmpricalPower1.png
      alt: "placeholder image 6"
    - url: /assets/images/gallery/EmpricalPower2.png
      image_path: assets/images/gallery/EmpricalPower2.png
      alt: "placeholder image 7"    
---
<style>
  .papp {
    font-family: "Papyrus", "Courier New", monospace;
    color:rgb(12, 12, 12)
  }
</style>
{% include paginator.html %}
<h2 class="papp">Recent Projects</h2>
{% include gallery  %}
<a href="https://diana12333.github.io/portfolio/" class="btn btn--primary">Learn More</a>

<!-- {% include feature_row %} -->

<!-- gallery:
  - url: /assets/images/gallery/map_new.gif
  image_path: assets/images/gallery/map_new.gif
  alt: "placeholder image 1"
  - url: /assets/images/gallery/calendar.jpg
  image_path: assets/images/gallery/calendar.jpg
  alt: "placeholder image 2"
  - url: /assets/images/gallery/EmpricalPower1.png
  image_path: assets/images/gallery/EmpricalPower1.png
  alt: "placeholder image 3"  -->